<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/71ca394a3d.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type= "text/css" href="../css/style.css">
	<title>UCBCBMDB</title>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<div class="d-flex justify-content-start">
				<a class="navbar-brand" href="index.html"><i class="fas fa-film FILM"></i></a>
				<a id="BRAND" class="navbar-brand" href="index.html">UCBCMDB</a>
			</div>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="d-flex justify-content-end">
					<div class="navbar-nav">
						<a class="nav-link" href="/">Search</a>
						<a class="nav-link" href="#">View Members</a>
						<a class="nav-link" href="/signup">Create Account</a>
						<a class="nav-link" href="/login">Login</a>
						<a class="nav-link" href="#">Logout</a>
						<a class="nav-link" href="#"><i class="fas fa-user"></i></a>
					</div>
				</div>
			</div>

		  </nav>

		  <br>

		<div class="container">
			
			
				{{{ body }}}
			
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>

</html>