<!-- CREATE ACCOUNT PAGE CONTENT TO GO IN THE {{{ body }}}-->
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h1>Join Our Movie Members Community</h1>
      </div>
    </div>
    <div class="row">
      <!-- START OF div column container for the login FORM/Input -->
      <!-- define a border for this part -->
      <div class="col-sm-12  col-md-12 col-lg-3 d-flex justify-content-center"></div>
      <div class="col-sm-12  col-md-12 col-lg-6 d-flex justify-content-center">
        <!-- Login Title with row and column !!! NO BORDER !!!! -->
        <div class="oBox">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <h2>Create Account</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-12 d-flex justify-content-center">

              <!-- start of Nessted login input field -->
                <div class="row">
                  <div class="box">
                    <div class="col-12 justify-content-center">
                      {{!-- <label for="username" class="form-label">Username</label> --}}
                      <Input class="fullFormLite createLOGIN" id="username" placeholder="Choose a Username"></Input>
                    </div>

                    <div class="col-12 justify-content-center">
                      {{!-- <label for="password" class="form-label">Password</label> --}}
                      <Input class="fullFormLite createLOGIN" type="password" id="password" placeholder="Choose a Password"></Input>
                    </div>

                    <div class="col-12 justify-content-center">
                      {{!-- <label for="img" class="form-label">Avatar</label> --}}
                      <Input class="fullFormLite createLOGIN" id="img" placeholder="Paste Direct Image Link for Profile Avatar"></Input>
                    </div>

                    <div class="col-12 d-flex justify-content-center">
                      <button class="btn createLOGIN" id="signup">Submit</button>
                    </div>
                    
                    <div class="col-12 d-flex justify-content-center">
                      <a href="/login" id="memLink"><br>Login</a>
                    </div>
                  </div>
                                      
                    </div>                   
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-mdcol-lg-3 d-flex justify-content-center"></div>
    </div>
    
     <!-- END OF div column container for the login FORM/Input -->

<script>
    $(document).on("click", "#signup", function () {
        
        let newUser = {
            username: $("#username").val(),
            password: $("#password").val(),
            imgURL: $("#img").val()
        };
          

        $.ajax({
            url: "/api/signup",
            method: "POST",
            data: newUser
        }).then(function(response) {
            console.log(response);
            window.location = "/";
        })
    })
</script>
