<!-- CREATE ACCOUNT PAGE CONTENT TO GO IN THE {{{ body }}}-->

<div class="row">
    <div class="col-12 d-flex justify-content-center">
         <h1>Join Our Movie Members Community</h1>
    </div>
</div>
  
<div class="row d-flex justify-content-center">
    <!-- START OF div column container for the login FORM/Input -->
    <!-- define a border for this part -->
    <div class="col-12 d-flex justify-content-center">
        <!-- Login Title with row and column !!! NO BORDER !!!! -->
      <div class="row d-flex justify-content-center">           
          <div class="col-12 d-flex justify-content-center">
            <h2>LOGIN</h2>            
                <!-- start of Nessted login input field -->
                <div class="row d-flex justify-content-center">
           
                    <div class="col-12 d-flex justify-content-center">
                             <Input></Input>
                             <Input></Input>
                             <button>Creat Account</button>
                             <P><a href="">Login</a></P>                                       
                    </div>                   
                </div>
                <!-- start of Nessted login input field -->
           </div>      
      </div>
    </div>
     <!-- END OF div column container for the login FORM/Input -->
</div>