<!-- LOGIN PAGE IS THE NEW HOME PAGE?? ASK THE GROUP! CONTENT TO GO IN THE {{{ body }}} -->
<div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h1>UCBCMDB</h1>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <h2 id="NONE">Where The Movie Enthusiats Are!</h2>
      </div>
    </div>

    <div class="row">
      <!-- START OF div column container for the login FORM/Input -->
      <div class="col-sm-12  col-md-12 col-lg-3 d-flex justify-content-center"></div>
      <div class="col-sm-12  col-md-12 col-lg-6 d-flex justify-content-center">
        <!-- Login Title with row and column !!! NO BORDER !!!! -->
        <div class="oBox">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <h2>LOGIN</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-center">

              <!-- start of Nessted login input field -->
              <div class="row">
                <div class="box">
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">

                      <Input class="fullFormLite createLOGIN" id="username"></Input>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                      <Input class="fullFormLite createLOGIN" id="password"></Input>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                      <button class="fullForm createLOGIN" id="login">Login</button>
                    </div>
                    <div class="col-12 d-flex justify-content-center">

                      <a class="d-flex justify-content-center" href="/signup">Create Account</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- start of Nessted login input field -->
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-mdcol-lg-3 d-flex justify-content-center"></div>
    </div>

    

     <!-- END OF div column container for the login FORM/Input -->

<script>
    $(document).on("click", "#login", function () {
        
        let newUser = {
            username: $("#username").val(),
            password: $("#password").val()
        };

        $.ajax({
            url: "/api/login",
            method: "POST",
            data: newUser
        }).then(function(response) {
            console.log(response);
        })
    })
</script>
