<!-- PROFIL PAGE CONTENT TO GO IN THE {{{ body }}} -->
<!-- ///////// Page Tile Row ////////////// -->
<div class="row">
    <div class="col-12 d-flex justify-content-center">
         <h1>My Movie Member Profile</h1>
    </div>
</div>

<!-- ///////// START OF Two Column Content ////////////// -->
  <div class="row">
    <!-- ///////// START OF First Column ////////////// -->
    <div class="col-sm-12 col-lg-6">
      <!-- ///////// START OF Profile Info ////////////// -->
      <div class="row">
            <div class="col-12">
                 <!-- ///////// PROFILE INFO Rendered in HERE ////////////// -->
            </div>
      </div>
      <!-- ///////// END OF Profile Info ////////////// -->
      <div class="row">
          <!-- ///////// Header for Watchlist ////////////// -->
        <div class="col-12  d-flex justify-content-center">
            <h2>My Movie Watch List:</h2>
        </div>
        <!-- ///////// DIV below will contain Movie List added by The logged in User////////////// -->
        <div class="col-12">

                <!-- ///////// MOVIE List Rendered in HERE ////////////// -->

         </div>
      </div>
    </div>
    <!-- ///////// END First Column Content ////////////// -->


    <!-- ///////// START OF 2nd Column ////////////// -->
    <div class="col-sm-12 col-lg-6">
      <div class="row">
          <!-- ///////// Header for My Reviews ////////////// -->
        <div class="col-12 d-flex justify-content-center">
            <h2>My Reviews</h2>
        </div>

        <!-- ///////// START OF Reviews List Written by The logged in User////////////// -->
        <div class="col-12">
            
                     <!-- ///////// REVIEWS List Rendered in HERE ////////////// -->

        </div>
        <!-- ///////// END OF Reviews List Written by The logged in User////////////// -->
      </div>
    </div> 
    <!-- ///////// END OF 2nd Column ////////////// --> 
  </div>
<!-- ///////// END OF Two Column Content ////////////// -->
  