<!-- SEARCH PAGE WITH MAYBE A COOL ANIAMTED JS FEATURE. CONTENT TO GO IN THE {{{ body }}} -->
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<h1>A Movie Enthusiasts Community</h1>
			</div>
		</div>
    
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <h1>Building A Movie Enthusiasts Community</h1>
    </div>
</div>
	<button class = "btn btn-danger testarooney", type="button">Add Movie block</button>
<div class="row">
    <div class="col-12">
        <div class="row">
            <!-- ///////// START OF SEARCH <div> ////////////// -->
            <div class="col-12">
                <input id="searchBar"></input>
                <button class="submitSearch"><i class="fas fa-search"></i></button>
            </div>

            <div class="col-12 searchResults justify-content-center"></div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Review:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add to Reviews</button>
      </div>
    </div>
  </div>
</div>

<script src="./js/index.js"></script>
<script>
    var exampleModal = document.getElementById('exampleModal');
exampleModal.addEventListener('show.bs.modal', function (event) {

  var button = event.relatedTarget;
  var movTitle = button.getAttribute('data-bs-whatever');
  var modalTitle = exampleModal.querySelector('.modal-title');
  var modalBodyInput = exampleModal.querySelector('.modal-body input');

  modalTitle.textContent = 'Leave a review for ' + '"' + movTitle + '"';
  modalBodyInput.value = movTitle;
});
</script>
