<!-- SEARCH PAGE WITH MAYBE A COOL ANIAMTED JS FEATURE. CONTENT TO GO IN THE {{{ body }}} -->
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<h1>A Movie Enthusiasts Community</h1>
			</div>
		</div>
    
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <h1>Building A Movie Enthusiasts Community</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="row">
            <!-- ///////// START OF SEARCH <div> ////////////// -->
            <div class="col-12">
                <input id="searchBar"></input>
                <button class="sButt"><i class="submitSearch  fas fa-search"></i></button>
            </div>

            <div class="col-12 searchResults d-flex justify-content-center"></div>

        </div>
    </div>
</div>

<script src="./js/index.js"></script>
