<!-- SEARCH PAGE WITH MAYBE A COOL ANIAMTED JS FEATURE. CONTENT TO GO IN THE {{{ body }}} -->

<div class="row">
    <div class="col-12 d-flex justify-content-center">
         <h1>Building A Movie Entusiasts Community</h1>
    </div>
</div>
  
<div class="row">
    <div class="col-12">
      <div class="row">
            <!-- ///////// START OF SEARCH <div> ////////////// -->
            <div class="col-12">
                   
                   <!-- GLORIA IS GOING TO ADD THE SEARCH ELEMENT -->
                   <form action=""></form>
                   <!-- for may not be the best solution -->
            </div>
            <!-- ///////// END OF SEARCH </div> ////////////// -->

            <!-- ///////// START OF ANIMATED JS <div> ////////////// -->
            <div class="col-12">

                    <!-- ///////// GLORIA'S GOAL: ADD A COOL ANIMATED JS IN HERE ////////////// -->

            </div>
            <!-- ///////// END OF ANIMATED JS </div> ////////////// -->
      </div>
   </div>
</div>