{{!-- VIEW ALL MEMBERS PAGE CONTENT to go into main {{{ body }}} --}}

<!-- VIEW INDIVIDUAL MEMBERS REVIEWS PAGE content to go IN THE {{{ body }}} -->
<!-- ///////// Page Tile Row ////////////// -->
<div class="row">
    <div class="col-12 d-flex justify-content-center">
         <h1>All Movie Members</h1>
    </div>
</div>


<div class="row">
    <div class="col-12">
          <!-- Render All Movie Members  -->
    </div>
</div>


  