<!-- VIEW INDIVIDUAL MEMBERS REVIEWS PAGE content to go IN THE {{{ body }}} -->
<!-- ///////// Page Tile Row ////////////// -->
<div class="row">
    <div class="col-12 d-flex justify-content-center">
         <h1>(USERNAME'S) Reviews</h1>
    </div>
</div>

<!-- ///////// START OF Single Column Content ////////////// -->
<div class="row">
    <div class="col-12">
          <!-- Render all this.user's reviews  -->
    </div>
</div>


  