body {
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: 100%;
}

h1, h2, h3, h4, p, .btn {
    color : rgb(212, 189, 191);
}

.btn {
    background-color:rgb(90, 20, 24);
}


h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#NONE {
    margin-top: 0px;
}
.fullForm {
    width: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: Black;
    background-color: black;
    color: ivory;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
}
.fullFormLite {
    width: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
    

}
.createLOGIN {
    width: 300px;
}


.oBox {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    margin-bottom: 50px;
}
.box {
    border-style: solid;
    border-width: 3px;
    border-color: black; 
    padding-top: 50px;
    padding-left: 50px;  
    padding-right: 50px; 
    padding-bottom: 30px; 
}

/* //////////// search.html Styling /////// */
#searchBar {
    width: 400px;
    background-color: rgb(180,172,180);
    outline: none;
}
.submitSearch {
    width: 70px;
    height: 35px;
    background-color:rgb(90, 20, 24);
}

#searchIcon{
    justify-content: center;
    align-items: center;
};

.searchBlock{
    margin-top: 10px;
    margin-bottom: 20px;
    padding:10px;
}

#details{
    background-color: rgba(0, 0, 0, 0.329);
}


.block {
    display: inline;
}

/* /////////// Navigation Styling //////////// */
.nav-link {
    padding-top: 15px;
    font-weight: bold;
    font-size: 1.125em;
}

nav {
    display: inline;
    background-color:rgb(90, 20, 24);
}
.FILM {
    font-size: 2em;
}
#BRAND {
    padding-top: 12px;
    color : rgb(212, 189, 191);
}
.avatarSize{
    width: 200px;
}
.posterSize{
    width: 200px;
}

/* /////////// Member Page //////////////////////// */

#memberCard{
    display: inline-block;
    margin: 12px;
}

#memAvi{
    align-items: center;
}


/* ///////////// stars fly out /////////////////// */
.hidden{
    width:120px;
    height: 70px;
    overflow:hidden;
}
div.stars {
    width: 100%;
    display: inline-block;
    padding-left: 40px;
    
  }
  
  input.star { display: none; }
  
  label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .3s;
  }
  
  input.star:checked ~ label.star:before {
    content: '\f005';
    color: rgb(0, 217, 255);
    transition: all .25s;
  }
  
  input.star-5:checked ~ label.star:before {
    color: rgba(8, 189, 245, 0.842);
    text-shadow: 0 0 20px rgb(26, 192, 214);
  }
  
  input.star-1:checked ~ label.star:before { 
      color:  rgb(0, 217, 255); 
    }
  
  label.star:hover {
       transform: rotate(-15deg) scale(1.2);
       color: rgb(119, 189, 255);
 }
 div.hidden:hover {
    width: 100%;
    transition: all 3s;
 }
  
  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }

/* input.star:checked ~ .hidden:before {
      width: 100%;
      overflow: visible;
  } */