<div class="card" style="width: 150px;" id="memberCard">
  <div class="card-body">
    <h5 class="card-title"><a href="/user/{{username}}" id="memLink">{{username}}</a></h5>
  </div>
    <img src="{{#if imgURL}}{{imgURL}}{{else}}../img/avatar.jpg{{/if}}" alt="avatar" style="width:150px;height:150px;" id="memAvi"/>
</div>