<div class="row">
    <div class="box">
        <div class="col-12 d-flex justify-content-center">
            <div class="row">
                <div id="viewAllUsers-block">
                    <div class="col-4">
                        <img class="avatarSize" src="{{userAvatar}}" alt="Movie Poster">
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-12">
                                <p class="">{{userName}}</p>
                            </div>
                            <div class="col-12">
                                <p class="fullFormLite">({{numOfReviews}})</p>
                            </div>
                            <div class="col-12">
                                <button type="button" class="fullForm">See Their Reviews</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>